.nav-bar {
  background-color: #2c0e3a;
  width: 100vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.image {
  height: 50px;
  width: 250px;
}
.score-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image1 {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
